<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="2" android:versionName="1.2.0" package="com.cat.grace2020" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="29" />
	<application android:label="Grace2020" android:allowBackup="false" android:fullBackupOnly="false"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>